body {
  margin: 0;
  color: #111;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
}
button {
  padding: 0.5em;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid rgb(0, 80, 255);
  border-radius: 0.5em;
  background-color: rgb(0, 160, 255);
  color: #fff;
  letter-spacing: 1pt;
}
.wrapper {
  width: 60em;
  margin: 0 auto;
}
.choice {
  padding: 1em;
  color: rgb(0, 80, 255);
}
